<!DOCTYPE html>
<html>
<head>
    <!-- <title>Upload Files using XMLHttpRequest - Minimal</title> -->
    
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>File uploading to Box</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{ margin-top:20px; }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="upload.js"></script>
</head>
<body>
  <form method="post" action="/Upload" class="container" id="form1" enctype="multipart/form-data">
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">

      <label for="fileToUpload">Select a File to Upload</label><br />
      <input type="file" name="theFile" id="fileToUpload" onchange="fileSelected();"/>
    </div>
    <div id="fileName"></div>
    <div id="fileSize"></div>
    <div id="fileType"></div>
    <div class="row">
      <button type="submit" onclick="uploadFile()" value="Upload">Upload</button>
    </div>
    <div id="progressNumber"></div>

            </div>
        </div>
    </div>
  </form>
<!-- <form method="get" action="/getone" enctype="multipart/form-data">
     <div>
         <button type="submit" value="show">showone box</button>
     </div>
</form> -->

  
</body>
</html>

